/** Main color styles **/
body { color: #4fefff; }    /* color: #f2f2f2; For white instead of light blue*/
.accented { color: #bfbfbf; } /* Gray coloring */
.box { /* All the boxes */
    background-color: rgba(0,0,0, 0.7);
    box-shadow: 1px 1px 20px black;
}



.modebar{ display: none !important; }

html, p, body { margin: 0; padding: 0; }
body {
	background-color: #28231E;
    background: linear-gradient(to top, #512828, #0A2342);
	font-family: oxygen;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-items: flex-start;
}

.content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.clock {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 2px;
}

.city {
    text-align: left;
    font-size: 22px;
    margin-bottom: 3px;
}

.date {
    font-size: 14px;
}

.time-line { 
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
}

.seconds {
    font-size: 16px;
	width: 1.1em;
	padding: 0 0.2em;
}

.time, .seconds {
	float: left;
}

.seconds, .date {
	font-weight: 300;
}

#chart {
    padding: 10px 20px;
    margin: 0px 20px;
    flex-grow: 1;
    max-width: 1200px;
    overflow: hidden;
}

.info-table {
    padding: 0.2em 1em;
    border-radius: 2px;
    font-size: 1.7em;
    font-weight: 300;
}
.label { text-align: left; }
.value { padding-right: 10px; text-align: right; }


/* dark-theme */

.clock.dark {
    background-color: rgba(3, 35, 62, 0.7);
}
